/.metadata/
Comprova_ExerciciExam/src/Dibujo/Exercici2.java
Comprova_ExerciciExam/src/Dibujo/DigitosMagicos.java
Comprova_ExerciciExam/.settings/org.eclipse.jdt.core.prefs
Comprova_ExerciciExam/.settings/org.eclipse.core.resources.prefs
Comprova_ExerciciExam/.project
Comprova_ExerciciExam/.classpath
